<%- include('partials/header', { title: "KSBZF | Sign Up", css: "../css/output.css"}) %>

<div class="h-screen w-screen flex  justify-center flex-col items-center">
    <div class="mb-5 text-center">
        <p class="text-[var(--c-accent)] text-3xl">KSBZF</p>
        <p class="text-[var(--c-text-d)]">Create an account</p>
    </div>
    <div class="bg-[var(--c-bg-2)] rounded-lg w-[25rem] h-min p-10">
        <form action="/users/signup" method="post" class="flex flex-col h-full">
            <div class="flex w-full gap-4">
                <div class="flex flex-col flex-1">
                    <label class="text-sm mb-2 w-full" for="first">First name</label>
                    <input required
                        class="mb-4 bg-[var(--c-bg)] w-full focus:outline-[3px] outline-none focus:outline-[var(--c-accent)] outline-[0px] transition-all text-[var(--c-text-d)] rounded-md text-sm px-4 py-2"
                        type="text" name="first" id="first">
                </div>
                
                <div class="flex flex-col flex-1">
                    <label class="text-sm mb-2 w-full" for="last">Last name</label>
                    <input required
                        class="mb-4 bg-[var(--c-bg)] w-full focus:outline-[3px] outline-none focus:outline-[var(--c-accent)] outline-[0px] transition-all text-[var(--c-text-d)] rounded-md text-sm px-4 py-2"
                        type="text" name="last" id="last">
                </div>
            </div>

            <label class="text-sm mb-2" for="email">Email</label>
            <input required
                class="mb-10 bg-[var(--c-bg)] focus:outline-[3px] outline-none focus:outline-[var(--c-accent)] outline-[0px] transition-all text-[var(--c-text-d)] rounded-md text-sm px-4 py-2"
                type="email" name="email" id="email">

            <label class="text-sm mb-2" for="password">Password</label>
            <input required
                class="mb-4 bg-[var(--c-bg)] focus:outline-[3px] outline-none focus:outline-[var(--c-accent)] outline-[0px] transition-all text-[var(--c-text-d)] rounded-md text-sm px-4 py-2"
                type="password" name="password" id="password">

            <label class="text-sm mb-2" for="passwordc">Confirm password</label>
            <input required
                class="bg-[var(--c-bg)] focus:outline-[3px] outline-none focus:outline-[var(--c-accent)] outline-[0px] transition-all text-[var(--c-text-d)] rounded-md text-sm px-4 py-2"
                type="password" name="passwordc" id="passwordc">

            <div class="select-none mt-8 flex justify-center items-center h-full">
                
                <input type="checkbox" name="teacher" id="teacher" class="hidden peer" value=""></input>
                <label for="teacher" class="cursor-pointer shadow-md flex gap-3 bg-[var(--c-bg)] transition-all peer-checked:text-[var(--c-text-l)] peer-checked:bg-[var(--c-accent-d)] text-sm text-[var(--c-text-d)] rounded-lg px-4 py-2">
                    I'm a teacher
                </label>
            </div>

            <div class="flex-1 mt-8 flex justify-center items-end">
                <button type="submit" class="w-full">Sign up</button>
            </div>
        </form>
    </div><a href="/start" class="mt-3 text-sm text-[var(--c-text-d)] underline">Go to start</a>
</div>